*{
    margin: 0;
    padding:0;
}
body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    /* background-color: cyan; */
    /* background-image: url("background7.jpeg"); */
    /* background-size: cover; */
    background-size: cover;

    /* background-color: #cccccc; */
    background-image: url("background1.jpeg");


}
.otheroptions{
    width: 100%;
    height: fit-content;
    /* position: fixed; */
    /* top: 0.5rem; */
    /* z-index: -5; */
    /* background-color: sandybrown; */

    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;


}

.redirect{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.goto{
    height: 2rem;
    width: 20rem;
    font-size: medium;
    font-weight: 200;
    background-color: white;
    border-radius: 20%;
}

.chat{

    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    /* box-sizing: border-box; */
    align-items: center;
    justify-content: flex-start;
    


}

.output{
    font-size: 2rem;
    font-family:monospace;
    font-weight: 400;
    margin: 10px;
   


}

.allusers{
   
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:flex-start;
    padding:2rem;

   

}

.users{
    /* font-size: 10rem; */

    overflow: hidden;
    height: 2rem;
    width: 20rem;
    border: 2px dotted black;
    border-radius: 10%;
    font-size: 1.5rem;
    background-color: rgb(254,251,223);
    margin: 1px;

}








