*{
    margin: 0;
    padding:0;
}
body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;


}
.otheroptions{
    width: 100%;
    height: fit-content;
    /* position: fixed; */
    /* top: 0.5rem; */
    /* z-index: -5; */
    /* background-color: sandybrown; */

    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;


}

.redirect{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.goto{
    height: 2rem;
    width: 20rem;
}

.chat{

    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    /* box-sizing: border-box; */
    align-items: center;
    justify-content: flex-start;
    


}

.output{
    font-size: 2rem;
   


}

.allusers{
   
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding:2rem;

}

.users{
    /* font-size: 10rem; */

    overflow: hidden;
    height: 2rem;
    width: 20rem;
    border: 2px solid black;
    font-size: 1.5rem;

}







