*{
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    

}

.otheroptions{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;


}

.redirect{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

button{
    height: 2rem;
    width: 20rem;
}

.profile{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    justify-content:flex-start;
    align-items: center;
    margin-top: 5rem;
    
}
.updateform{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    justify-content:flex-start;
    align-items: center;


}

.entry{
    width: 100%;
    height: 3rem;
    display: grid;
    /* grid-template-columns:1fr ; */
    grid-template-columns: 1fr 1fr 1fr;
    /* flex-direction: row;
    align-items: stretch;
    justify-content: center; */
}
.labelname,.err,.inputele{
    margin:0.5rem;
    
}
.labelname{
    text-align: right;

}






